# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties


.idea/
.gradle
*.iml
local.properties
mobile/version.properties
gradle.properties
build/
.DS_Store
*.hprof
*.log
*.log.*
lint-report.xml
crashlytics-build.properties
com_crashlytics_export_strings.xml
captures/
doc/